/* #docregion quickstart, toh */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

.object {
  margin-bottom: 49px;
  margin-left: 10px;
}

.timeline {
  margin-left: 40px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  background: linear-gradient(0deg, transparent 49%, #000 49%, #000 51%, transparent 51%);
  background-position: 0px -2px;
}

.timeline__item {
  position: relative;
  top: 8px;
  width: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.timeline__item-dot,
.timeline__item-dot_incomplete {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.timeline__item-dot {
  background: blue;
}

.timeline__item-dot_incomplete {
  border: 2px solid blue;
  box-sizing: border-box;
}

.timeline__item-state {
  width: 0;
  white-space: pre;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 16px;
}

.timeline__date {
  white-space: pre;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}