/* #docregion quickstart, toh */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline__item {
  position: absolute;
  top: 60px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.timeline__item-dot {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: blue;
  border-radius: 50%;
}

.timeline__item-state {
  width: 0;
  white-space: nowrap;
}

.timeline__date {
  white-space: pre;
}