/* #docregion quickstart, toh */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

.timeline {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.timeline::before {
  content: '';
  height: 2px;
  background: black;
  width: 100%;
  position: relative;
  top: 10px;
  left: 38px;
}

.timeline__item {
  position: absolute;
  top: 60px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.timeline__item-dot,
.timeline__item-dot_incomplete {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.timeline__item-dot {
  background: blue;
}

.timeline__item-dot_incomplete {
  border: 2px solid blue;
}

.timeline__item-state {
  width: 0;
  white-space: nowrap;
  margin-left: 30px;
}

.timeline__date {
  white-space: pre;
  text-align: center;
}